<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColloborIQ - Сұрақтар</title>
    <link rel="stylesheet" href="/css/questions.css">
</head>
<body>
<header>
    <h1>ColloborIQ</h1>
    <nav>
        <a href="/questions/new" class="btn-post">Сұрақ қою</a>
        <a th:href="@{/logout}" class="btn-logout">Шығу</a>
        <a  class="btn-profile">
            <span th:text="${username}">Username</span>
        </a>
    </nav>
</header>

<div class="container">
    <h2>Сұрақтар</h2>

    <form th:action="@{/questions}" method="get" class="search-form">
        <input type="text" name="keyword" placeholder="Сұрақты іздеу..." class="search-input">
        <button type="submit" class="btn-search">Іздеу</button>
    </form>

    <div class="questions-section">
        <div class="question" th:each="question : ${questions}">
            <a th:href="@{/questions/{id}(id=${question.getId()})}" class="question-link">
                <p class="question-text" th:text="${question.getQuestion()}">question</p>
            </a>
            <p class="question-text" th:text="${question.getAuthor()}">author</p>
            <p class="question-text" th:text="${#dates.format(question.time, 'dd-MM-yyyy HH:mm')}">time</p>
        </div>
    </div>
</div>
</body>
</html>
