<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColloborIQ - Сұрақ мәліметтері</title>
    <link rel="stylesheet" href="/css/questions.css">
</head>
<body>
    <header>
        <h1>ColloborIQ</h1>
        <nav>
            <a href="/questions" class="btn-back">Сұрақтарға оралу</a>
            <a href="../registration/logout.html" class="btn-logout">Шығу</a>
        </nav>
    </header>

    <div class="container">
        <h2>Сұрақ мәліметтері</h2>
        <div class="question">
            <p class="question-text" th:text="${question.getQuestion()}">question</p>
            <p class="question-author" >Пост авторы: student</p>
        </div>

        <div class="comments">
            <h3>Пікірлер</h3>
            <div class="comment" th:each="comment : ${comments}">
                <p th:text="${comment.getComment()}">comment</p>
                <p class="comment-author">Пікір авторы: Teacher</p>
            </div>


            <form class="comment-form" th:method="POST" th:action="@{/questions/{id}(id=${question.getId()})}"
            th:object="${commentToAdd}">
                <textarea name="comment" rows="2" placeholder="Пікіріңізді жазыңыз..." required
                th:field="*{comment}"></textarea>
                <button type="submit" class="btn-comment">Пікірді қалдыру</button>
            </form>
        </div>
    </div>
</body>
</html>
