<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColloborIQ - Тіркелу</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>ColloborIQ</h1>
            <form action="/register" method="post">
                <h2>Тіркелу</h2>
                <div class="input-group">
                    <label for="email">Почта</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Құпия сөз</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Құпия сөзді қайта растау</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div>
                <button type="submit" class="btn">Тіркелу</button>
                <p class="switch-form">Тіркеліп қойдыңызба? <a href="login.html">Кіру</a></p>
            </form>
        </div>
    </div>
</body>
</html>
